{% extends 'base.html' %}
{% block content %}
{% load static %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'assets/img/about-header.jpg' %});">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>About</h2>
        <ol>
          <li><a href={% url 'home' %}>Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
          <div class="row gy-4" data-aos="fade-up">
              <div class="col-lg-4">
                  <img src="{{ about_section.image.url }}" class="img-fluid" alt="{{ about_section.title }}">
              </div>
              <div class="col-lg-8">
                  <div class="content ps-lg-5">
                      <h3>{{ about_section.title }}</h3>
                      <p>{{ about_section.short_description }}</p>
                      <p>{{ about_section.description|safe }}</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why Choose Us</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style= "background-image: url('{% static 'assets/img/why-us-bg.jpg' %}')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Step Towards the Possibilities of Overseas Employment</h3>
                    <h4 class="mb-3">KBG RECRUITING AGENCY is one of the fastest growing Government approved Manpower Agency with License NoI RL-2354</h4>
                    <p>in Bangladesh registered under the Ministry of
                      Expatriates Welfare & Overseas Employment which facilities professionally managed
                      outflow of work force from Bangladesh to abroad</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">We Bring Better opportunity</h3>
                    <h4 class="mb-3">KBG Recruiting Agency believes that social responsibility goes far beyond simply making a donation to a worthy cause.</h4>
                    <p>It 's about enhancing the variety of our neighborhoods and giving everyone the chance to enter the workforceI It involves keeping the big picture in mind and creating lasting solutions.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">KBG  Recruiting  Agency  is  a  member  of  Bangladesh  Association  of  International  Recruiting  Agencies (BAIRA)</h3>
                    <h4 class="mb-3">The company's overarching philosophy has been to strive for excellence at all costs in order to establish itself as the leading supplier of competitive, effective, and trustworthy human resource solutionsI.</h4>
                    <p>Despite of the fact that, Bangladesh has a large number of recruitment agencies, KBG Recruiting Agency understood that there was a demand for a professionally managed recruitment agency to bridge the gap between opportunities and opportunity seekers, and as a result the company was founded.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">KBG Recruiting Agency believes that social responsibility goes far beyond</h3>
                    <h4 class="mb-3">solutionsI Our reward comes from knowing that we truly impact people's lives both now and, in the future, whether it 's assisting a young person who is unemployed in entering the workforce or helping an engineer find employment abroad.</h4>
                    <p>We are uniquely positioned to identify where there are present and potential skills gaps, identify people who need assistance entering the workforce, and design solutions that bring these two groups together, benefiting bothI </p>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Our systems</h3>
            <p> Our programs and policies are designed to make the connection to work a viable option for those who need it.</p>
            <a class="cta-btn" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>End Team Member -->

          <!-- <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <!-- <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>End Team Member -->

          <!-- <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div> End Team Member -->

        <!-- </div>

      </div>
    </section>End Team Section

  </main>End #main  -->




{% endblock content %}
